.ingredients-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    max-height: 700px;
    overflow-y: auto;
    margin: 10px auto;
}

.instructions-form {
    max-height: 700px;
    overflow-y: auto;
    margin: 10px auto;
}

.ingredients-content {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    border: none;
}

.ingredient-input {
    border-radius: 10px;
    padding: 0 20px;
    outline: none;
    border: 1px solid rgb(201, 200, 200);
    color: rgb(121, 133, 133);
    font-size: 12pt;
}

.ingredient-input:nth-child(3n) {
    border: 1px solid rgb(185, 236, 191);
}

.ingredient-input:nth-child(2n) {
    border: 1px solid rgb(190, 233, 176);
    background-color: rgba(223, 222, 178, 0.306);
}

.ingredient-input:nth-child(4n) {
    border: 1px solid rgb(154, 231, 229);
    background-color: rgba(154, 231, 228, 0.306);
}

.ingredient-name {
    width: 270px;
    padding-left: 55px;
    background-color: rgba(138, 220, 147, 0.878);
}

.icon-ingredient {
    height: 17px;
    width: 17px;
    position: absolute;
    float: left;
    margin-top: 25px;
    margin-left: 15px;
}

.instructions-input {
    width: 96%;
    height: 190px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(248, 247, 241);
    outline: none;
    border: 1px solid rgb(218, 211, 211);
    font-size: 14pt;
    resize: none;
}

.step-text {
    color: rgb(106, 105, 105);
    font-size: 16pt;
    font-weight: 900;
}

.list-recipes, .list-mealplans {
    position: relative;
    width: 100%;
    height: max-content;
}

.recipe-item {
    display: inline-block;
    min-height: 600px;
    width: 555px;
    box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
    border-radius: 10px;
    background-color: white;
    margin: 0 25px 25px 0;
}

.recipe-item:nth-child(3n) {
    margin-right: 0px;
}

.recipe-image {
    overflow: hidden;
    width: inherit;
    height: 400px;
    background-color: #818585;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.recipe-image img {
    position: relative;
    width: 555px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
}

.recipe-item:hover, .mealplan-item:hover {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.short-info-recipe {
    text-align: center;
    width: inherit;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px 40px;
}

.text-style-for-name-recipe {
    color: rgb(91, 94, 98);
    font-weight: 700;
    font-size: 22pt;
    text-align: left;
    padding: 0 40px;
    height: 60px;
}

.icon-recipe {
    height: 60px;
    filter: invert(70%) sepia(0%) saturate(58%) hue-rotate(276deg) brightness(95%) contrast(89%);
}

.recipe-short-value {
    width: max-content;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: rgb(19, 169, 161);
    font-weight: 800;
}

.short-info-recipe-for-admin {
    padding: 10px;
    width: 800px;
}

.recipe-item-for-admin, .mealplan-item {
    display: flex;
    height: 370px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(98, 98, 99, 0.15);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    cursor: pointer;
}

.recipe-image-for-admin {
    object-fit: cover;
    overflow: hidden;
    width: 540px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(46, 48, 50, 0.701);
    margin: 15px;
}

.mealplans-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
}

.mealplans-image img {
    border-radius: 50%;
    border: 6px solid rgb(114, 201, 199);
    margin: 15px;
    height: 270px;
    padding: 15px;
    background-color: rgba(38, 73, 73, 0.695);
}

.header-plan-recipe {
    text-align: center;
    color: rgb(104, 108, 110);
    font-weight: 600;
}

.table-info-recipe, .table-info-mealplan {
    width: 100%;
    text-align: center;
}

.table-info-recipe th, .table-info-mealplan th {
    font-size: 18pt;
    width: 150px;
}

.info-recipe-block {
    width: 85%;
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
}

.value-recipe {
    color: rgb(19, 169, 161);
    font-weight: 700;
    font-size: 18pt;
}

.text-subtitle-recipe {
    font-weight: 700;
    font-size: 16pt;
    color: rgb(98, 95, 95);
}

.recipe-content {
    margin: 15px 292px 0;
    height: max-content;
}

.recipe-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(38, 96, 96);
    font-size: 28pt;
    font-weight: 600;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(95, 93, 93, 0.3), -21px 0 20px -21px rgba(71, 70, 70, 0.4), 23px 0 20px -23px rgba(83, 82, 82, 0.4), 0 0 40px rgba(149, 146, 146, 0.15) inset;
    height: 125px;
    background-color: #ffffff;
}

.recipe-image-block {
    overflow: hidden;
    width: 550px;
    height: 400px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0px 1px 3px rgba(98, 98, 98, 0.463);
}

.recipe-image-block img {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-short-info-block {
    margin-top: 25px;
    width: 550px;
    height: max-content;
    padding: 15px 15px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(98, 98, 98, 0.463);
}

.mealplan-short-info-block {
    width: 800px;
    height: max-content;
    padding: 0 15px 20px;
    background-color: #e9e8e8;
    border-radius: 10px;
   box-shadow: 0px 1px 3px rgba(206, 201, 201, 0.463);
   margin-right: 50px;
   margin-bottom: 50px;
}
.energy-value {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 22pt;
    border-radius: 50%;
    background-color: #e9e8e8;
    z-index: 2;
}
.energy-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    background: linear-gradient(to bottom, rgb(9, 196, 46),rgb(154, 230, 62), rgb(238, 238, 36), rgb(255, 196, 0), rgb(197, 31, 31));
    border-radius: 50%;
    z-index: 1;
}

.calorie-energy {
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    color: #404444
}

.text-style-for-energy {
    color: rgb(135, 135, 135);
    font-weight: 900;
    font-size: 12pt;
    text-transform: uppercase;
}

.style-for-energy-value {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    font-size: 22pt;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    z-index: 2;
}

.style-for-energy-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background: linear-gradient(to bottom, rgb(9, 196, 115), cyan, blue, rgb(238, 36, 211));
    border-radius: 50%;
    z-index: 1;
}

.ingredients-block {
    margin-left: 25px;
    margin-top: 25px;
    width: 100%;
    height: 683px;
    background: white;
    padding: 25px 50px;
    border-radius: 15px;
    box-shadow: 0px 1px 3px rgba(98, 98, 98, 0.463);
}

.image-and-ingredients {
    display: flex;
}

.flex-horizontal-align {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.servings-block img {
    width: 40px;
}

.servings-block {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(71, 207, 214);
    padding-bottom: 5px;
}

.ingredient-header-block {
    font-size: 22pt;
    color: rgb(66, 139, 140);
    font-weight: 700;
    text-transform: uppercase;
}

ul.oglavl {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 600px;
    overflow-y: auto;
}

ul.oglavl li {
    border-bottom: 1px dotted #313131;
    /* Необязателен. Здесь задается толщина, тип и цвет точек */
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    font-size: 18pt;
}

ul.oglavl li span {
    background-color: #FFF;
    margin: 0;
}

ul.oglavl li span.text, ul.oglavl li span.page {
    bottom: -5px;
}

ul.oglavl span.text {
    position: relative;
    margin-right: 7em;
    padding-right: 2px;
}

ul.oglavl span.page {
    position: absolute;
    right: 0;
    padding-left: 2px;
}

.instructions-block {
    width: inherit;
    background: white;
    border-radius: 10px;
    padding: 25px 50px;
    margin-top: 25px;
    min-height: 200px;
}

.instructions-block-header {
    font-size: 22pt;
    color: rgb(38, 96, 96);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.description {
    font-size: 18pt;
}

.step {
    color: rgb(44, 144, 139);
    font-weight: 700;
    font-size: 30pt;
    font-style: italic;
}

.mealplans-submenu {
    display: flex;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(73, 73, 73, 0.673);
    height: 600px;
    opacity: 0.8;
    background-image: url(../image/mealplan3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.mealplan-submenu {
    display: flex;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(73, 73, 73, 0.673);
    height: 670px;
    opacity: 0.8;
    background-image: url(../image/plate.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content:flex-end;
    align-items: flex-end;
}
.btn-submenu-mealplanning {
    display: flex;
    height: 130px;
    background-color: rgba(253, 253, 253, 0.864);
    width: 420px;
    margin-bottom: 50px;
    margin-left: 50px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(95, 93, 93, 0.3), -21px 0 20px -21px rgba(71, 70, 70, 0.4), 23px 0 20px -23px rgba(83, 82, 82, 0.4), 0 0 40px rgba(149, 146, 146, 0.15) inset;
}

.my-mealplans-btn {
    height: 70px;
    line-height: 22px;
    background-color: rgb(61, 196, 187);
    margin: 0 0 40px 40px;
    width: 340px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
    font-weight: 900;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b4142;
    text-decoration: none;
    text-transform: uppercase;
}

.my-mealplans-btn:hover {
    color: white;
    background: rgb(56, 228, 228);
}

.mealplans-constructor-block {
    width: 97.5%;
    background-color: rgb(201, 220, 201);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
    display: inline-block;
    padding: 20px 20px;
    font-size: 16pt;
}

.count-meal {
    width: 59px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: rgb(51, 171, 167);
    font-size: 16pt;
    padding-left: 10px;
}

.count-input {
    text-align: center;
    color: gray;
    background-color: inherit;
    width: 60px;
    height: 27px;
    outline: none;
    font-size: 14pt;
    border: none;
    border-bottom: 2px solid rgb(57, 76, 79);
    padding-left: 10px;
}

.content-constructor-mealplans {
    display: flex;
    height: 97.5%;
    width: 100%;
    margin-top: 20px;
}

.constructor-mealplan {
    width: 55%;
    height: 97.5%;
}

.products-list {
    height: 97.5%;
    width: 45%;
}

fieldset {
    font-size: 1em;
    font-weight: 600;
    color: gray;
    border: solid 3px rgb(34, 191, 199);
    border-radius: 10px;
    margin-bottom: 10px;
}
.mealplan-fieldset {
 
    border: solid 4px rgb(23, 202, 211);
    border-radius: 10px;
    margin-bottom: 10px;
}
fieldset legend {
    padding: 0 1em;
    font-weight: 700;
    color: rgb(61, 144, 153)
}
fieldset .text-header-mealplan {
    padding: 0 1em;
    font-weight: 700;
    color: rgb(46, 166, 179);
    font-size: 23pt;
}

.product-buttons-category {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.product-button {
    color: white;
    font-weight: 500;
    background-color: rgb(2, 137, 137);
    height: 65px;
    width: 200px;
    font-size: 14pt;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
}

.product-button:hover {
    background-color: rgb(41, 152, 152);
}

.label-count-meal {
    font-weight: 600;
    color: rgb(58, 90, 90);
    font-size: 16pt;
}

.list-products {
    width: 200px;
    height: max-content;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.product-name-btn {
    padding: 10px;
    background-color: rgb(109, 174, 34);
    border-radius: 5px;
    color: white;
    width: 90px;
    margin: 5px;
    font-size: 13pt;
    text-align: center;
}

.product-name-btn:hover, .product-name-btn:active {
    background-color: rgb(177, 71, 22);
}

.mealplans-table, .mealplans-results {
    min-width: 98%;
    font-size: 16pt;
    color: rgb(27, 108, 117);
    margin-right: 20px;
}

.meals-item {
    background-color: white;
    min-width: 98%;
    font-size: 16pt;
    border-radius: 7px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.active-meals {
    background-color: rgb(57, 204, 187);
    color: white;
    min-width: 98%;
    font-size: 16pt;
    border-radius: 7px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.active-meals input {
    background-color: rgb(57, 204, 187);
    color: white;
}

.meals-item th {
    height: 60px;
}

.mealname-cell th, .mealname-cell {
    padding-left: 10px;
    text-align: left;
    min-width: 415px;
}

.count-cell {
    text-align: center;
    min-width: 90px;
}

.amount-cell {
    text-align: center;
    min-width: 25px;
}

.proteins-cell {
    text-align: center;
    min-width: 65px;
}

.fats-cell {
    text-align: center;
    min-width: 65px;
}

.carbohydrates-cell {
    text-align: center;
    min-width: 65px;
}

.calories-cell {
    text-align: center;
    min-width: 80px;
}

.mealname-input {
    outline: none;
    font-size: 16pt;
    border: none;
    color: gray;
    font-weight: 600;
    background-color: inherit;
}

.cancel-food-icon {
    height: 13px;
    padding: 0px 7px;
    filter: invert(14%) sepia(99%) saturate(4729%) hue-rotate(342deg) brightness(89%) contrast(93%);
}

.remove-cell {
    min-width: 40px;
    text-align: center;
}

.mealplans-results {
    min-height: 40px;
}

.addMealPlan {
    text-align: center;
    margin: 50px auto;
    padding: 20px 40px;
    color: white;
    background: rgb(38, 158, 25);
    width: max-content;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14pt;
}

.addMealPlan:hover {
    background: rgba(23, 196, 4, 0.701);
}

.value-count-meals {
    color:lightseagreen;
    font-style:italic;
    font-size: 22pt;
    font-weight: 800;
    margin: 20px auto;
}

.text-subtitle-meals{
    font-style:normal;
    font-size: 20pt;
    font-weight: 700;
    color: rgb(100, 97, 97);
}
.title-mealplan{
font-size: 32pt;
font-weight: 900;
position: absolute;
margin-bottom: 400px;
margin-right: 50px;
text-align: center;
color:rgb(214, 212, 212);
width: 830px;

}
.mealplan-block {
    min-height: max-content;
    width:inherit;
    border-radius: 10px;
    background-color: white;
    margin: 15px 0px;
    padding:20px;
}
.meal-name-title{
font-size:24pt;
font-weight: 700;
color:black;
}
.mealplan-products{
    margin:0 20px 30px;
}