.text-like-header {
  color: rgb(118, 164, 171);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20pt;
  height: 40pt;
  width: max-content;
  padding: 30pt 0pt 20pt;
  margin-left: auto;
  margin-right: auto;
}

.users-content-block, .food-content-block {
  height: max-content;
  min-height: 500pt;
  width: inherit;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border-radius: 10px;
}

#users, #food {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

#users td, #users th, #food td, #food th {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 5px;
  text-align: center;
  height: 100px;
}

#users tr:nth-child(even), #food tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:nth-child(odd), #food tr:nth-child(odd) {
  background-color: #fff7f7;
}

#users tr:hover, #food tr:hover {
  background-color: #ddd;
}

#users th, #food th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(86, 138, 136, 0.755);
  color: white;
  word-wrap: break-word;
  border: none;
}

#users td:nth-last-child(), #food td:nth-last-child() {
  border-radius: 0 0 10px 10px;
}

.delete-icons {
  height: 27px;
  filter: invert(81%) sepia(50%) saturate(4171%) hue-rotate(1deg) brightness(106%) contrast(105%);
}

.edit-icons {
  height: 26px;
  filter: invert(24%) sepia(67%) saturate(1722%) hue-rotate(162deg) brightness(93%) contrast(101%);
}

.edit-icons:hover {
  filter: invert(30%) sepia(67%) saturate(1722%) hue-rotate(162deg) brightness(96%) contrast(110%);
}

.delete-icons:hover {
  filter: invert(67%) sepia(61%) saturate(2689%) hue-rotate(325deg) brightness(100%) contrast(102%);
}

.text-align-center {
  top: 11%;
  color: rgb(162, 170, 172);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-weight: 600;
}

.not-found-icons {
  top: 11%;
  height: 40%;
  opacity: 0.8;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.not-foung-block {
  width: inherit;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(225, 222, 222, 0.714);
}

.submenu-user {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
  height: 125px;
  background-color: #ffffff;
}

.search-input-block-user {
  height: 45px;
  width: 30%;
  display: flex;
  position: relative;
  margin-right: 30px;
  margin-left: auto;
  margin-bottom: 5px;
}

.search-input-block-user input:focus {
  border: 2px solid #10c1c1 !important;
}

.search-input-block-user input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: 2px solid #d0cdcd;
  border-radius: 5px 0 0 5px;
  outline: none;
  background: #ebeff1;
  color: #5f5f5f;
  font-size: 13pt;
}

.search-input-block-user button {
  display: flex;
  align-items: center;
  top: 0;
  right: 0px;
  width: 60px;
  height: 51px;
  background: #6fbdc4;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-input-block-user button:hover, .btn-create:hover {
  background: #4a8e94;
}

.search-input-block-user i {
  color: white;
  font-size: 24px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.food-content, .recipes-content, .mealplans-content {
  margin: 15px 292px 0;
  height: max-content;
}

.training-icon-padding {
  padding-left: 10px;
}

.submenu-recipe {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(95, 93, 93, 0.3), -21px 0 20px -21px rgba(71, 70, 70, 0.4), 23px 0 20px -23px rgba(83, 82, 82, 0.4), 0 0 40px rgba(149, 146, 146, 0.15) inset;
  height: 125px;
  background-color: #ffffff;
}